/* Od tadialto mozes vymazat*/
.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}
/* Po tadialto mozes vymazat*/

ul {
  list-style-type: none;
}

ul ul {
  font-size: 90%;
}

#navbarHeader {
  padding-left: 4px;
}

footer {
  color: #fff;
  font-size: 14px;
  padding: 10px 40px 10px;
  background-color: black;
}
