.img {
  height: 99%;
  width: 99%;
}

.product_page .card-body {
  padding-top: 4px;
  padding-bottom: 4px;
  height: 85px;
}

.product_page .card-body p.card-text:nth-child(2) {
  font-weight: bold;
}

.product_page a {
  text-decoration: none;
  color: #292b2c;
}

.product_page a:hover p {
  font-weight: bold;
  color: black;
}

.product_page :hover .card {
  border-width: 2px;
  border-color: #00b300;
}

.pagination a {
  color: #292b2c;
  background-color: #ffff66;
  border-color: #99ff99;
}

.pagination a:hover {
  color: #99ff99;
  background-color: #00b300;
}

.pagination a:active {
  color: #ffff66;
  background-color: #292b2c;
}

.pagination li {
  padding: 1px;
}
